<div class="container py-5 px-4">
  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col-5 px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Recent</p>
          <button type="button" (click)="chatService.createChatRoom()"> <i class="mb-0 py-1 fa fa-plus"></i> New Chat Room </button>
          <button type="button" (click)="auth.signOut()"> <i class="mb-0 py-1 fa fa-sign-out"></i> Sign Out </button>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">

            <div *ngFor="let chat of allChats; let i = index;">
              <a (click)="onChatRoomClick(chat.id, i)" [ngClass]="{'active': chat.active, 'text-white' : chat.active, 'list-group-item' : 'true', 'list-group-item-action' : 'true', 'rounded-0' : 'true'}">
                <div class="media"><img *ngIf="chat.author" [src]="chat.author.photoURL" alt="user" width="50" class="rounded-circle">
                  <div class="media-body ml-4">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0"></h6><small class="small font-weight-bold">{{ chat.createdAt | date: 'yyyy-MM-dd'}}</small>
                    </div>
                    <p class="font-italic mb-0 text-small">{{ chat.messages[0] ? chat.messages[0].content : "No message yet"}}</p>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0">
      <div class="px-4 py-5 chat-box bg-white">

        <ng-container *ngIf="currentChat">
          <div [ngClass]="{'media' : true, 'w-50' : true, 'mb-3': true, 'ml-auto' : isMyMessage(msg.uid) }"
          *ngFor="let msg of currentChat.messages; trackBy: trackByCreated"><img [src]="msg.user?.photoURL" alt="user" width="50" class="rounded-circle">
            <div [ngClass]="{'media-body' : true, 'ml-3' : !isMyMessage(msg.uid)}">
              <div [ngClass]="{'bg-primary' : isMyMessage(msg.uid), 'bg-light' : !isMyMessage(msg.uid), 'rounded' : true, 'py-2' : true, 'px-3' : true, 'mb-2' : true}">
                <p [ngClass]="{'text-small' : true, 'mb-0': true, 'text-white' : isMyMessage(msg.uid), 'text-muted' : !isMyMessage(msg.uid)}">{{ msg.content }}</p>
              </div>
              <p class="small text-muted">{{msg.createdAt | date: 'yyyy/MM/dd h:mm:ss a'}}</p>
            </div>
          </div>
        </ng-container>

      <!-- Typing area -->
      <div  class="bg-light">
        <div class="input-group">
          <input type="text" placeholder="Type a message" [(ngModel)]="newMsg" maxlength="100" (keydown.enter)="submit(currentChat.id)" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
          <div class="input-group-append">
            <button (click)="submit(currentChat.id)" [disabled]="!newMsg" id="button-addon2" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
