<div class="login">
  <div *ngIf=" auth.user$ | async as user; else login">
    <img [src]="user.photoURL" width="50px">
    <p>
      <span class="tag is-dark">{{ user.displayName }}</span>
      <span class="tag is-light">{{ user.uid }}</span>
    </p>


    <button class="button is-small" (click)="auth.signOut()">Sign Out</button>
    <hr>

    <button class="button" routerLink="/chats/UJrR0M10IK7VJDVCQIKF">Join Chat</button>
    <button class="button is-info" (click)="cs.create()">Create New Chat</button>

    <hr>

    <h3>My Chats</h3>

    <ul>
      <li *ngFor="let chat of userChats$ | async">
        <a [routerLink]="'chats/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
      </li>
    </ul>


  </div>

  <ng-template #login>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Angular firestore chat app</h5>
              <form class="form-signin">
                <button class="btn btn-lg btn-google btn-block text-uppercase" (click)="auth.googleSignIn()"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
