<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin">
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            <hr class="my-4">
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<h1>Angular firestore chat app demo</h1>

<div class="login">
  <div *ngIf=" auth.user$ | async as user; else login">
    <img [src]="user.photoURL" width="50px">
    <p>
      <span class="tag is-dark">{{ user.displayName }}</span>
      <span class="tag is-light">{{ user.uid }}</span>
    </p>


    <button class="button is-small" (click)="auth.signOut()">Sign Out</button>
    <hr>

    <button class="button" routerLink="/chats/UJrR0M10IK7VJDVCQIKF">Join Chat</button>
    <button class="button is-info" (click)="cs.create()">Create New Chat</button>

    <hr>

    <h3>My Chats</h3>

    <ul>
      <li *ngFor="let chat of userChats$ | async">
        <a [routerLink]="'chats/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
      </li>
    </ul>
  </div>

  <ng-template #login>
    <button class="button" (click)="auth.googleSignIn()">Login with Google</button>
  </ng-template>

</div>
